{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Article:list{% endblock %}

{% block body %}
<h1>Liste des Articles</h1>

  <a href="{{ path("addArticle") }}">Ajouter</a>

  <table>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Supprimer</th>
    </tr>
    {% for art in articles %}
    <tr>
      <td>{{art.title}}</td>
      <td>{{art.author}}</td>
      <td>
          <a href="{{path("deleteArticle", { 'id':art.id}) }}">
            Supprimer
          </a>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
