<?php include '../layout/header.php'; ?>
	<div class="container">
		<div class="row">
                <?php include '../layout/col-left.php'; ?>
				<div class="span9">
                    <h2>Votre parnier</h2>
                    <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Références</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Total HT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MT07</td>
                                <td>
                                    <select class="span1"><option>1</option></select>&nbsp;
                                    <a href="#"><i class="icon-refresh"></i></a>
                                    <a href="#"><i class="icon-trash"></i></a>
                                </td>
                                <td>7000.00 €</td>
                                <td>6700.00 €</td>
                            </tr>
                            <tr>
                                <td>XSR 900</td>
                                <td>
                                    <select class="span1"><option>1</option></select>&nbsp;
                                    <a href="#"><i class="icon-refresh"></i></a>
                                    <a href="#"><i class="icon-trash"></i></a>
                                </td>
                                <td>9000.00 €</td>
                                <td>8700.00 €</td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <dl class="dl-horizontal pull-right">
                    <dt>Total HT :</dt>
                    <dd>15 400.00 €</dd>

                    <dt>TVA :</dt>
                    <dd>600€</dd>

                    <dt>Total:</dt>
                    <dd>16 000.00 €</dd>
                </dl>
                <div class="clearfix"></div>
                <a href="{{ path('login', {'id' : ""}) }}" class="btn btn-success pull-right">Valider mon panier</a>

            </div>

		</div>
	</div>
<?php include '../layout/footer.php'; ?>
